<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    <script src="../socket.io-client/dist/socket.io.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<input type="text" id="test" size="4"/>
<input type="button" value="check submit" onclick="myOnClick()"><br>
<!--<input type="button" value="check_db submit" onclick="myOnClick2()"><br><br>-->

<% for(var i=0; i<data.length; i++) {%>
<tr>
    <%= data[i].id %> <%= data[i].stu_num %> <%= data[i].check_time %>  <%= data[i].how_late %><br>
</tr>
<% } %>

</body>
<script>
    var $phone = $('#test');

    var socket = io.connect('http://15.164.54.201:8181');
    //var socket = io.connect('http://localhost:8181');
    function myOnClick() {
        socket.emit("check", $phone.val());
    }
    function myOnClick2() {
        socket.emit("check2", $phone.val());
    }

</script>
</html>