<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta property="og:title" content=""/>
	<meta property="og:description" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:type" content="website"/>
<title>CV_LAB</title>
<link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>
<div class="title_bar">
	<div class="title">
		<h1>가입완료</h1>
	</div>
</div>
<div id="content">
	<div class="joinsu_image">
		<img src="../img/joinsu.png">
	</div>
	<form action="/" method="get">
		<div class="Join_submit">
			<input style="margin-top:0px"  type="submit" value="로그인화면 이동"/>
		</div>
	</form>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</body>
</html>