<!DOCTYPE html>
<html>
<head>
  <title>title</title>
  <script src="../socket.io-client/dist/socket.io.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<input type="button" value="check submit" onclick="myOnClick()">
</body>
<script>

  var socket = io.connect('http://15.164.54.201:8181');


  function myOnClick() {
    socket.emit("check", "test button");
    $('#user').val('');
  }

</script>
</html>