<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta property="og:title" content=""/>
	<meta property="og:description" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:type" content="website"/>
<title>CV-LAB</title>
<link rel="stylesheet" type="text/css" href="../css/style2.css">

</head>
<body class="clearfix bb">
<div class="leftMenu">
	<div class="Top">
		<a href=""><img class="bg" src="../img/Logos.png" alt=""></a>
	</div>
	<div class="Bottom">
		<ul>
			<li class="check"><img src="../img/people.png"><a href="">회원목록</a></li>
		</ul>
	</div>
</div>
<div class="rightMenu">
	<div class="r_top clearfix">
		<div class="clickm">
			<form>
				<input class="logout" type="button" value="로그아웃">
			</form>
		</div>
		
	</div>
	<div class="tts">
		<div class="r_bottom">
			<div class="in_bo">
				<h2>회원목록</h2>
				<table cellspacing="0" cellpadding="0" class="list" style="margin-top:50px;">
					<tbody>
						<tr>
							<th style="width:3%; " class="con">No.</th>
							<th style="width:10%; ">이름</th>
							<th style="width:10%; ">학번</th>
							<th style="width:10%; ">이메일</th>
							<th style="width:10%; ">카카오톡 아이디</th>
							<th style="width:10%; ">휴대폰 번호</th>
							<th style="width:10%; ">생성 날짜</th>
							<th style="width:10%; ">지각 랭킹</th>
							<th style="width:10%; ">총 지각 벌금</th>
							<th style="width:10%; ">지각 횟수</th>
						</tr>
						<% for(var i=0; i< account.length; i++) {%>
							<tr class="tr_st2" onclick="send_view('225');">
								<td><%= account[i].id %></td>
								<td><%= account[i].name %></td>
								<td><%= account[i].stu_num %></td>
								<td><%= account[i].email %></td>
								<td><%= account[i].kakaoid %></td>
								<td><%= account[i].phone_num %></td>
								<td><%= account[i].created %></td>
								<td><%= rank[i] %></td>
								<td><%= total_late[i] %></td>
								<td><%= cnt[i] %></td>
							</tr>
						<% } %>
						<tr class="tr_st2" onclick="send_view('224');">
					</tbody>
				</table>
			</div>
		</div>
	<div>
	
</div>
</body>
</html>