<!DOCTYPE html>
<html>
  <head>
    <title><%= late %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= late %></h1>
    <p>Welcome to <%= late %></p>
    <br><br><br>
    <form action="test/send_email" method="post">
      email:<input type="text" name="email"><br>
      보내기:<input type="submit">
    </form>

  </body>
</html>
