<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta property="og:title" content=""/>
	<meta property="og:description" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:type" content="website"/>
	<title>CV_LAB</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
<div id="login_main">
	<div class="main_Logo">
		<a href="#"><img src="img/Logo.png" alt="DIMAIN_LOGO"></a>
	</div>
	<div class="login_information">
			<div class="login_email">
				<label for="Login_Email"></label>
				<input type="email" class="form-control" id="Login_Email" onblur="onblur_email()" placeholder="이메일을 입력해주세요.">
			</div>
			<div class="login_password">
				<label for="Login_Password"></label>
				<input type="password" class="form-control" id="Login_Password" onblur="onblur_pass()" placeholder="비밀번호를 입력해주세요.">
				<p class="login_err">아이디 또는 비밀번호를 다시 확인하세요.</p>
			</div>
			<div class="login_submit">
				<input type="BUTTON" value="로그인" id="checkBtn"/>
			</div>
		<div class="login_forget">
			<a href="#">비밀번호를 잊어버리셨나요?</a>
		</div>
		<div class="sign_up">
			<span>CV_LAB 회원이 아니세요?</span><a href="index_01.html"><strong>회원가입</strong></a>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">

	var phone_tf = false;
	var kaka_tf = false;
	var kaka_tfs = false;



	function onblur_email(){
		var $kaka = $('#Login_Email');

		if( !$kaka.val() ){
			kaka_tf = false;
			return false;
		}
		else{
			kaka_tf = true;
		}
	}

	function onblur_pass(){
		var $kakas = $('#Login_Password');
		if( !$kakas.val() ){
			kaka_tfs = false;
			return false;
		}
		else{
			kaka_tfs = true;
		}
	}
	$(document).on('click','#checkBtn',function() {

		function check(){
			if (!kaka_tf) {return false;}
			else if(!kaka_tfs) {return false;}
			else{
				$.ajax({
					url: '/login',
					dataType: 'json',
					type: 'POST',
					success: function (result) {
						if (result.check == 'no') {
							var $text = $('.login_err');
							$text.css('display', 'block');
							$text.text('아이디 또는 비밀번호를 다시 확인하세요.');
						}
					}
				})
			}
		}


	}

</script>
</html>